
table {
    background: transparent;
    border: 1px solid #c3c3c3;
    border-radius: 1px;
    border-spacing: 0px;
    border-collapse:separate;
    
  }
  
  table th {
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 2px;
    text-align: center;
    background: #ffffff;
    color: #000000; /* Text Color */
  
  }
  
  table td {
    background: transparent;
  }
  

/* Flag */
.flag{
  width:35px;
  height: 25px;
  border: 1px solid #000000;
  border-radius: 0px;
}